Repository firebase/flutterfire, pull requests merged in 2022-07, with the labels that each got.

#8236 feat(firebase_auth)!: upgrade auth web to v9 sdk
  packages/firebase_auth/firebase_auth_web/lib/firebase_auth_web.dart
  packages/firebase_auth/firebase_auth_web/lib/src/interop/auth.dart
  packages/firebase_auth/firebase_auth_web/lib/src/interop/auth_interop.dart
  packages/firebase_auth/firebase_auth_web/lib/src/interop/firebase_interop.dart
  packages/firebase_auth/firebase_auth_web/lib/src/utils/web_utils.dart
  tests/test_driver/firebase_auth/firebase_auth_e2e.dart
  tests/test_driver/firebase_auth/firebase_auth_instance_e2e.dart
  tests/test_driver/firebase_auth/firebase_auth_user_e2e.dart
Labels: platform: web

#8860 feat(firebase_messaging)!: upgrade messaging web to Firebase v9 JS SDK.
  packages/firebase_messaging/firebase_messaging/lib/src/messaging.dart
  packages/firebase_messaging/firebase_messaging_platform_interface/lib/src/method_channel/method_channel_messaging.dart
  packages/firebase_messaging/firebase_messaging_platform_interface/lib/src/platform_interface/platform_interface_messaging.dart
  packages/firebase_messaging/firebase_messaging_web/lib/firebase_messaging_web.dart
  packages/firebase_messaging/firebase_messaging_web/lib/src/interop/firebase_interop.dart
  packages/firebase_messaging/firebase_messaging_web/lib/src/interop/messaging.dart
  packages/firebase_messaging/firebase_messaging_web/lib/src/interop/messaging_interop.dart
  tests/test_driver/firebase_messaging/firebase_messaging_e2e.dart
Labels: platform: web

#9030 feat(cloud_firestore_odm): add support for json_serializable's field rename/property ignore
  packages/cloud_firestore_odm/cloud_firestore_odm/example/build.yaml
  packages/cloud_firestore_odm/cloud_firestore_odm/example/lib/integration.dart
  packages/cloud_firestore_odm/cloud_firestore_odm/example/lib/integration.g.dart
  packages/cloud_firestore_odm/cloud_firestore_odm/example/lib/movie.g.dart
  packages/cloud_firestore_odm/cloud_firestore_odm/example/pubspec.yaml
  packages/cloud_firestore_odm/cloud_firestore_odm/example/test_driver/collection_reference_test.dart
  packages/cloud_firestore_odm/cloud_firestore_odm_generator/build.yaml
  packages/cloud_firestore_odm/cloud_firestore_odm_generator/cloud_firestore_odm_generator_integration_test/build.yaml
  packages/cloud_firestore_odm/cloud_firestore_odm_generator/cloud_firestore_odm_generator_integration_test/lib/model.g.dart
  packages/cloud_firestore_odm/cloud_firestore_odm_generator/cloud_firestore_odm_generator_integration_test/lib/simple.g.dart
  packages/cloud_firestore_odm/cloud_firestore_odm_generator/cloud_firestore_odm_generator_integration_test/pubspec.yaml
  packages/cloud_firestore_odm/cloud_firestore_odm_generator/lib/src/collection_generator.dart
  packages/cloud_firestore_odm/cloud_firestore_odm_generator/lib/src/templates/collection_reference.dart
  packages/cloud_firestore_odm/cloud_firestore_odm_generator/lib/src/validator_generator.dart
  packages/cloud_firestore_odm/cloud_firestore_odm_generator/pubspec.yaml
Labels: plugin: odm

#8951 feat(cloud_firestore_odm): add orderByFieldPath / whereFieldPath
  packages/cloud_firestore_odm/cloud_firestore_odm/example/lib/integration.g.dart
  packages/cloud_firestore_odm/cloud_firestore_odm/example/lib/integration/query.g.dart
  packages/cloud_firestore_odm/cloud_firestore_odm/example/lib/movie.g.dart
  packages/cloud_firestore_odm/cloud_firestore_odm/example/test_driver/collection_reference_test.dart
  packages/cloud_firestore_odm/cloud_firestore_odm_generator/cloud_firestore_odm_generator_integration_test/lib/simple.g.dart
  packages/cloud_firestore_odm/cloud_firestore_odm_generator/lib/src/templates/query_reference.dart
Labels: plugin: odm

#8975 test(firebase_dynamic_links): migrate to `integration_test` package
  tests/integration_test/e2e_test.dart
  tests/integration_test/firebase_dynamic_links/firebase_dynamic_links_e2e_test.dart
Labels: type: infrastructure improvement

#8974 test(firebase_database): migrate to `integration_test` package
  tests/integration_test/e2e_test.dart
  tests/integration_test/firebase_database/data_snapshot_e2e.dart
  tests/integration_test/firebase_database/database_e2e.dart
  tests/integration_test/firebase_database/database_reference_e2e.dart
  tests/integration_test/firebase_database/firebase_database_configuration_e2e.dart
  tests/integration_test/firebase_database/firebase_database_e2e_test.dart
  tests/integration_test/firebase_database/on_disconnect_e2e.dart
  tests/integration_test/firebase_database/query_e2e.dart
Labels: type: infrastructure

#8978 test(firebase_messaging): migrate to `integration_test` package
  tests/integration_test/e2e_test.dart
  tests/integration_test/firebase_messaging/firebase_messaging_e2e_test.dart
Labels: type: infrastructure

#9153 docs(firebase_auth): "apple.com" provider name typo in docs
  docs/auth/manage-users.md
Labels: type: documentation, plugin: auth

#9004 feat(firebase_messaging): Added 'criticalAlert' to notification settings.
  packages/firebase_messaging/firebase_messaging_platform_interface/lib/src/notification_settings.dart
  packages/firebase_messaging/firebase_messaging_platform_interface/lib/src/utils.dart
  packages/firebase_messaging/firebase_messaging_web/lib/src/utils.dart
  packages/firebase_messaging/firebase_messaging_web/test/firebase_messaging_web_test.dart
Labels: plugin: messaging

#9161 feat: bump Firebase Android SDK to 30.3.0
  packages/firebase_core/firebase_core/android/gradle.properties
Labels: platform: android

#9135 fix(firebase_analytics): allow `null` values for `setDefaultEventParameters()` which removes defaults. Permissible on android and iOS.
  packages/firebase_analytics/firebase_analytics/android/src/main/java/io/flutter/plugins/firebase/analytics/FlutterFirebaseAnalyticsPlugin.java
  packages/firebase_analytics/firebase_analytics/lib/src/firebase_analytics.dart
  packages/firebase_analytics/firebase_analytics_platform_interface/lib/src/method_channel/method_channel_firebase_analytics.dart
  packages/firebase_analytics/firebase_analytics_platform_interface/lib/src/platform_interface/platform_interface_firebase_analytics.dart
  packages/firebase_analytics/firebase_analytics_web/lib/firebase_analytics_web.dart
  tests/test_driver/firebase_analytics/firebase_analytics_e2e.dart
Labels: type: bug, plugin: analytics

#9146 fix(auth, web): provide `browserPopupRedirectResolver` on `initializeAuth()` otherwise web popup errors.
  packages/firebase_auth/firebase_auth_web/lib/src/interop/auth.dart
  packages/firebase_auth/firebase_auth_web/lib/src/interop/auth_interop.dart
Labels: type: bug, plugin: auth, platform: web

#8689 feat(firebase_analytics): retrieves `appInstanceId` property on native platforms if available
  packages/firebase_analytics/firebase_analytics/android/src/main/java/io/flutter/plugins/firebase/analytics/FlutterFirebaseAnalyticsPlugin.java
  packages/firebase_analytics/firebase_analytics/example/android/app/build.gradle
  packages/firebase_analytics/firebase_analytics/example/lib/main.dart
  packages/firebase_analytics/firebase_analytics/example/test_driver/firebase_analytics_e2e.dart
  packages/firebase_analytics/firebase_analytics/ios/Classes/FLTFirebaseAnalyticsPlugin.m
  packages/firebase_analytics/firebase_analytics/lib/src/firebase_analytics.dart
  packages/firebase_analytics/firebase_analytics/test/firebase_analytics_test.dart
  packages/firebase_analytics/firebase_analytics/test/mock.dart
  packages/firebase_analytics/firebase_analytics_platform_interface/lib/src/method_channel/method_channel_firebase_analytics.dart
  packages/firebase_analytics/firebase_analytics_platform_interface/lib/src/platform_interface/platform_interface_firebase_analytics.dart
  packages/firebase_analytics/firebase_analytics_platform_interface/test/method_channel_tests/method_channel_firebase_analytics_test.dart
  packages/firebase_analytics/firebase_analytics_platform_interface/test/mock.dart
  packages/firebase_analytics/firebase_analytics_platform_interface/test/platform_interface_tests/platform_interface_analytics_test.dart
  packages/firebase_analytics/firebase_analytics_web/lib/firebase_analytics_web.dart
  tests/test_driver/firebase_analytics/firebase_analytics_e2e.dart
Labels: plugin: analytics, platform: android, Needs Attention

#9138 fix(firebase_auth): pass `Persistence` value to `FirebaseAuth.instanceFor(app: app, persistence: persistence)` for setting persistence on Web platform
  docs/auth/start.md
  packages/firebase_auth/firebase_auth/example/lib/main.dart
  packages/firebase_auth/firebase_auth/lib/src/firebase_auth.dart
  packages/firebase_auth/firebase_auth/test/firebase_auth_test.dart
  packages/firebase_auth/firebase_auth/test/user_test.dart
  packages/firebase_auth/firebase_auth_platform_interface/lib/src/method_channel/method_channel_firebase_auth.dart
  packages/firebase_auth/firebase_auth_platform_interface/lib/src/platform_interface/platform_interface_firebase_auth.dart
  packages/firebase_auth/firebase_auth_web/lib/firebase_auth_web.dart
  packages/firebase_auth/firebase_auth_web/lib/src/interop/auth.dart
  tests/test_driver/firebase_auth/firebase_auth_instance_e2e.dart
Labels: plugin: auth, platform: web, type: missing-feature

#9184 feat!: The low-level interface of Queries/Documentreferences are improved to no-longer use `Object?` in various situations
  packages/cloud_firestore_odm/cloud_firestore_odm/example/lib/integration.g.dart
  packages/cloud_firestore_odm/cloud_firestore_odm/example/lib/integration/query.g.dart
  packages/cloud_firestore_odm/cloud_firestore_odm/example/lib/movie.g.dart
  packages/cloud_firestore_odm/cloud_firestore_odm/example/test_driver/common.dart
  packages/cloud_firestore_odm/cloud_firestore_odm/lib/src/firestore_reference.dart
  packages/cloud_firestore_odm/cloud_firestore_odm/test/common.dart
  packages/cloud_firestore_odm/cloud_firestore_odm_generator/cloud_firestore_odm_generator_integration_test/lib/simple.g.dart
  packages/cloud_firestore_odm/cloud_firestore_odm_generator/lib/src/templates/collection_reference.dart
  packages/cloud_firestore_odm/cloud_firestore_odm_generator/lib/src/templates/document_reference.dart
  packages/cloud_firestore_odm/cloud_firestore_odm_generator/lib/src/templates/document_snapshot.dart
  packages/cloud_firestore_odm/cloud_firestore_odm_generator/lib/src/templates/query_document_snapshot.dart
  packages/cloud_firestore_odm/cloud_firestore_odm_generator/lib/src/templates/query_reference.dart
  packages/cloud_firestore_odm/cloud_firestore_odm_generator/lib/src/templates/query_snapshot.dart
Labels: type: enhancement, plugin: odm

#9167 feat: Add where(arrayContains) support
  packages/cloud_firestore_odm/cloud_firestore_odm/example/lib/movie.g.dart
  packages/cloud_firestore_odm/cloud_firestore_odm/example/test_driver/collection_reference_test.dart
  packages/cloud_firestore_odm/cloud_firestore_odm_generator/cloud_firestore_odm_generator_integration_test/lib/simple.dart
  packages/cloud_firestore_odm/cloud_firestore_odm_generator/cloud_firestore_odm_generator_integration_test/lib/simple.g.dart
  packages/cloud_firestore_odm/cloud_firestore_odm_generator/lib/src/collection_generator.dart
  packages/cloud_firestore_odm/cloud_firestore_odm_generator/lib/src/templates/query_reference.dart
  packages/cloud_firestore_odm/cloud_firestore_odm_generator/test/document_reference_test.dart
Labels: type: enhancement, plugin: odm

#9150 docs(firebase_auth): update `getIdTokenResult` inline documentation to be explicit about token behaviour
  packages/firebase_auth/firebase_auth/lib/src/user.dart
  packages/firebase_auth/firebase_auth_platform_interface/lib/src/platform_interface/platform_interface_user.dart
Labels: type: documentation, plugin: auth

#9101 feat(firebase_database): `ServerValue.increment()` now correctly accepts a `num` to support both integers and doubles.
  packages/firebase_database/firebase_database/example/pubspec.yaml
  packages/firebase_database/firebase_database_platform_interface/lib/src/server_value.dart
  tests/test_driver/firebase_database/database_reference_e2e.dart
Labels: plugin: database, type: missing-feature
