Repository firebase/flutterfire, pull requests merged in 2022-08, with the labels that each got.

#9292 chore(firebase_messaging): update example app to prove iOS message handlers work as intended
  docs/cloud-messaging/receive.md
  packages/firebase_messaging/firebase_messaging/example/ios/Runner.xcodeproj/project.pbxproj
  packages/firebase_messaging/firebase_messaging/example/lib/firebase_options.dart
  packages/firebase_messaging/firebase_messaging/example/lib/main.dart
  packages/firebase_messaging/firebase_messaging/example/macos/Runner.xcodeproj/project.pbxproj
  packages/firebase_messaging/firebase_messaging/example/scripts/package.json
  packages/firebase_messaging/firebase_messaging/example/scripts/send-message.js
Labels: plugin: messaging, type: infrastructure

#9248 fix(firebase_auth): use correct UTC time from server for `currentUser?.metadata.creationTime` & `currentUser?.metadata.lastSignInTime`
  packages/firebase_auth/firebase_auth/test/user_test.dart
  packages/firebase_auth/firebase_auth_platform_interface/lib/src/user_metadata.dart
Labels: type: bug, plugin: auth

#9315 fix(firebase_messaging, iOS): ensure initial notification was tapped to open app. fixes `getInitialMessage()` & `onMessageOpenedApp()` .
  packages/firebase_messaging/firebase_messaging/example/lib/main.dart
  packages/firebase_messaging/firebase_messaging/ios/Classes/FLTFirebaseMessagingPlugin.m
Labels: type: bug, plugin: messaging

#9314 fix(firebase_core): broken homepage link in pubspec.yaml
  packages/firebase_core/firebase_core/pubspec.yaml
Labels: type: documentation, plugin: core, ready-to-merge

#9183 docs(firebase_auth): explicit mention that `refreshToken` is empty string on native platforms on the `User`instance
  packages/firebase_auth/firebase_auth/lib/src/user.dart
  packages/firebase_auth/firebase_auth_platform_interface/lib/src/platform_interface/platform_interface_user.dart
Labels: type: documentation, plugin: auth

#9321 fix(cloud_firestore, web): stop `FirebaseError` appearing in console on hot restart & hot refresh
  packages/cloud_firestore/cloud_firestore/lib/src/firestore.dart
Labels: plugin: cloud_firestore, platform: web

#9361 test(cloud_firestore, android): skip end 2 end test that is timing out on CI
  packages/cloud_firestore/cloud_firestore/example/test_driver/second_app_e2e.dart
Labels: type: infrastructure

#9358 feat: Bump Firebase android SDK to 30.3.2
  packages/firebase_core/firebase_core/android/gradle.properties
Labels: platform: android

#9357 feat: Bump Firebase iOS SDK to 9.4.0
  packages/firebase_core/firebase_core/ios/firebase_sdk_version.rb
Labels: platform: ios

#9164 ci: fix CI for branch `migrate-to-integration-tests`
  packages/cloud_firestore_odm/cloud_firestore_odm_generator/lib/src/validator_generator.dart
  packages/cloud_firestore_odm/cloud_firestore_odm_generator/pubspec.yaml
  tests/integration_test/firebase_dynamic_links/firebase_dynamic_links_e2e_test.dart
  tests/integration_test/firebase_messaging/firebase_messaging_e2e_test.dart
  tests/pubspec.yaml
Labels: type: infrastructure

#9365 feat(crashlytics, android): Send Flutter Build Id to Crashlytics to get --split-debug-info working
  packages/firebase_crashlytics/firebase_crashlytics/android/src/main/java/io/flutter/plugins/firebase/crashlytics/FlutterFirebaseCrashlyticsPlugin.java
  packages/firebase_crashlytics/firebase_crashlytics/lib/src/firebase_crashlytics.dart
  packages/firebase_crashlytics/firebase_crashlytics/lib/src/utils.dart
  packages/firebase_crashlytics/firebase_crashlytics/test/firebase_crashlytics_test.dart
  packages/firebase_crashlytics/firebase_crashlytics_platform_interface/lib/src/method_channel/method_channel_crashlytics.dart
  packages/firebase_crashlytics/firebase_crashlytics_platform_interface/lib/src/platform_interface/platform_interface_crashlytics.dart
  packages/firebase_crashlytics/firebase_crashlytics_platform_interface/test/method_channel_tests/method_channel_crashlytics_test.dart
Labels: plugin: crashlytics, platform: android

#9397 fix(analytics, web): `setCurrentScreen()` API is now obsolete, using `logEvent()` instead
  packages/firebase_analytics/firebase_analytics_web/lib/interop/analytics.dart
Labels: type: bug, plugin: analytics, platform: web

#9407 chore(firebase_in_app_messaging, android): update deprecated `Task.call()` to `TaskCompletionSource` API
  packages/firebase_in_app_messaging/firebase_in_app_messaging/android/src/main/java/io/flutter/plugins/firebase/inappmessaging/FirebaseInAppMessagingPlugin.java
Labels: plugin: in_app_messaging, platform: android, type: infrastructure

#9348 feat(firebase_messaging, android)!: android 13 notifications permission request
  packages/firebase_messaging/firebase_messaging/android/build.gradle
  packages/firebase_messaging/firebase_messaging/android/src/main/AndroidManifest.xml
  packages/firebase_messaging/firebase_messaging/android/src/main/java/io/flutter/plugins/firebase/messaging/FlutterFirebaseMessagingPlugin.java
  packages/firebase_messaging/firebase_messaging/android/src/main/java/io/flutter/plugins/firebase/messaging/FlutterFirebaseMessagingUtils.java
  packages/firebase_messaging/firebase_messaging/android/src/main/java/io/flutter/plugins/firebase/messaging/FlutterFirebasePermissionManager.java
  packages/firebase_messaging/firebase_messaging/example/android/app/build.gradle
  packages/firebase_messaging/firebase_messaging/example/android/app/src/main/AndroidManifest.xml
  tests/android/app/build.gradle
  tests/android/app/src/main/java/io/flutter/app/FlutterMultiDexApplication.java
Labels: plugin: messaging, platform: android

#9404 chore(firebase_app_check, android): update deprecated `Tasks.call()` to `TaskCompletionSource` API
  packages/firebase_app_check/firebase_app_check/android/src/main/java/io/flutter/plugins/firebase/appcheck/FlutterFirebaseAppCheckPlugin.java
Labels: platform: android, plugin: app_check, type: infrastructure

#9405 refactor(firebase_remote_config, android): update deprecated `Tasks.call()` to `TaskCompletionSource` API
  packages/firebase_remote_config/firebase_remote_config/android/src/main/java/io/flutter/plugins/firebase/firebaseremoteconfig/FirebaseRemoteConfigPlugin.java
  packages/firebase_remote_config/firebase_remote_config/example/android/app/build.gradle
Labels: plugin: remote_config, platform: android, type: infrastructure
