Repository firebase/flutterfire, pull requests merged in 2022-09, with the labels that each got.

#9470 chore(firebase_auth): fix typo "constraines" in example
  packages/firebase_auth/firebase_auth/example/lib/main.dart
Labels: type: documentation, plugin: auth

#9479 ci: fix CI issues related to Flutter 3.3 release
  packages/cloud_firestore/cloud_firestore/example/ios/Podfile
  packages/cloud_firestore/cloud_firestore/lib/cloud_firestore.dart
  packages/cloud_firestore/cloud_firestore_platform_interface/lib/src/method_channel/method_channel_firestore.dart
  packages/cloud_firestore/cloud_firestore_platform_interface/lib/src/method_channel/method_channel_load_bundle_task.dart
  packages/cloud_firestore/cloud_firestore_platform_interface/lib/src/method_channel/utils/firestore_message_codec.dart
  packages/cloud_firestore/cloud_firestore_platform_interface/lib/src/platform_interface/platform_interface_firestore.dart
  packages/cloud_functions/cloud_functions/lib/cloud_functions.dart
  packages/firebase_auth/firebase_auth/example/test_driver/instance_e2e.dart
  packages/firebase_in_app_messaging/firebase_in_app_messaging/example/lib/main.dart
  packages/firebase_storage/firebase_storage/lib/firebase_storage.dart
  packages/firebase_storage/firebase_storage/test/mock.dart
  tests/ios/Flutter/AppFrameworkInfo.plist
  tests/ios/Podfile
  tests/test_driver/cloud_functions/cloud_functions_e2e.dart
  tests/test_driver/firebase_auth/firebase_auth_instance_e2e.dart
  tests/test_driver/firebase_storage/reference_e2e.dart
Labels: type: bug, type: infrastructure

#9443 feat(auth): add Yahoo as provider for iOS, Android and Web
  docs/auth/federated-auth.md
  packages/firebase_auth/firebase_auth/android/src/main/java/io/flutter/plugins/firebase/auth/FlutterFirebaseAuthPlugin.java
  packages/firebase_auth/firebase_auth/example/ios/Runner.xcodeproj/project.pbxproj
  packages/firebase_auth/firebase_auth/example/lib/auth.dart
  packages/firebase_auth/firebase_auth/lib/firebase_auth.dart
  packages/firebase_auth/firebase_auth_platform_interface/lib/firebase_auth_platform_interface.dart
  packages/firebase_auth/firebase_auth_platform_interface/lib/src/providers/yahoo_auth.dart
  packages/firebase_auth/firebase_auth_web/lib/src/utils/web_utils.dart
Labels: type: documentation, plugin: auth

#9421 feat(auth): add Twitter login for Android, iOS and Web
  docs/auth/federated-auth.md
  packages/firebase_auth/firebase_auth/example/ios/Runner.xcodeproj/project.pbxproj
  packages/firebase_auth/firebase_auth/example/ios/Runner/Info.plist
  packages/firebase_auth/firebase_auth/example/lib/auth.dart
  packages/firebase_auth/firebase_auth/example/pubspec.yaml
  packages/firebase_auth/firebase_auth_platform_interface/lib/src/method_channel/utils/convert_auth_provider.dart
Labels: plugin: auth, type: missing-feature

#9440 fix(auth, web): fix enrollementTimestamp parsing on Web
  packages/firebase_auth/firebase_auth_platform_interface/lib/src/platform_interface/platform_interface_multi_factor.dart
  packages/firebase_auth/firebase_auth_web/lib/src/firebase_auth_web_multi_factor.dart
Labels: type: bug, plugin: auth, platform: web

#9486 fix(firebase_messaging, android): ensure only messaging permission request is processed
  packages/firebase_messaging/firebase_messaging/android/src/main/java/io/flutter/plugins/firebase/messaging/FlutterFirebasePermissionManager.java
Labels: type: bug, plugin: messaging, platform: android

#9472 docs(firebase_auth): fix typo "apperance" in `platform_interface_firebase_auth.dart`
  packages/firebase_auth/firebase_auth/lib/src/recaptcha_verifier.dart
  packages/firebase_auth/firebase_auth_platform_interface/lib/src/platform_interface/platform_interface_firebase_auth.dart
Labels: type: documentation, plugin: auth

#9494 docs(messaging): update docs to use `@pragma('vm:entry-point')` annotation for messaging background handler
  docs/cloud-messaging/receive.md
  packages/firebase_messaging/firebase_messaging/example/lib/main.dart
Labels: type: documentation, plugin: messaging

#9410 fix(cloud_firestore, ios): fix `queryGet()` & `namedQueryGet()`. Check if `query` is `[NSNull null]` value
  packages/cloud_firestore/cloud_firestore/example/ios/Runner.xcodeproj/project.pbxproj
  packages/cloud_firestore/cloud_firestore/ios/Classes/FLTFirebaseFirestorePlugin.m
Labels: type: bug, plugin: cloud_firestore, platform: ios

#9453 feat(cloud_firestore_odm): add support for specifying class name prefix
  packages/cloud_firestore_odm/cloud_firestore_odm/example/test_driver/path_test.dart
  packages/cloud_firestore_odm/cloud_firestore_odm/lib/annotation.dart
  packages/cloud_firestore_odm/cloud_firestore_odm_generator/cloud_firestore_odm_generator_integration_test/lib/simple.dart
  packages/cloud_firestore_odm/cloud_firestore_odm_generator/cloud_firestore_odm_generator_integration_test/lib/simple.g.dart
  packages/cloud_firestore_odm/cloud_firestore_odm_generator/lib/src/collection_generator.dart
Labels: type: missing-feature, plugin: odm

#9185 fix: handle query.orderBy(startAt:).orderBy()
  .github/workflows/scripts/.firebaserc
  .github/workflows/scripts/firebase.json
  .github/workflows/scripts/firestore.indexes.json
  packages/cloud_firestore_odm/cloud_firestore_odm/example/lib/integration.g.dart
  packages/cloud_firestore_odm/cloud_firestore_odm/example/lib/integration/freezed.g.dart
  packages/cloud_firestore_odm/cloud_firestore_odm/example/lib/integration/query.g.dart
  packages/cloud_firestore_odm/cloud_firestore_odm/example/lib/movie.g.dart
  packages/cloud_firestore_odm/cloud_firestore_odm/example/test_driver/collection_reference_test.dart
  packages/cloud_firestore_odm/cloud_firestore_odm/lib/cloud_firestore_odm.dart
  packages/cloud_firestore_odm/cloud_firestore_odm/lib/src/firestore_reference.dart
  packages/cloud_firestore_odm/cloud_firestore_odm/test/common.dart
  packages/cloud_firestore_odm/cloud_firestore_odm_generator/cloud_firestore_odm_generator_integration_test/lib/freezed.g.dart
  packages/cloud_firestore_odm/cloud_firestore_odm_generator/cloud_firestore_odm_generator_integration_test/lib/simple.g.dart
  packages/cloud_firestore_odm/cloud_firestore_odm_generator/lib/src/templates/collection_reference.dart
  packages/cloud_firestore_odm/cloud_firestore_odm_generator/lib/src/templates/query_reference.dart
Labels: type: bug, plugin: odm

#9444 feat(auth): add documentation for Play Game Sign-In
  docs/auth/federated-auth.md
Labels: type: documentation, plugin: auth

#9431 docs(firebase_core): update inline documentation on `initializeApp()` behaviour
  packages/firebase_core/firebase_core/lib/src/firebase.dart
Labels: type: documentation, plugin: core

#9250 chore(firebase_dynamic_links): update example app proving deeplink works from terminated app state
  docs/dynamic-links/receive.md
  packages/firebase_dynamic_links/firebase_dynamic_links/example/ios/Podfile
  packages/firebase_dynamic_links/firebase_dynamic_links/example/ios/Runner/Info.plist
  packages/firebase_dynamic_links/firebase_dynamic_links/example/lib/firebase_options.dart
Labels: plugin: dynamic_links, type: infrastructure

#9412 feat(firebase_app_check): provide `androidDebugProvider` boolean for android debug provider & update app check example app
  packages/firebase_app_check/firebase_app_check/android/build.gradle
  packages/firebase_app_check/firebase_app_check/android/src/main/java/io/flutter/plugins/firebase/appcheck/FlutterFirebaseAppCheckPlugin.java
  packages/firebase_app_check/firebase_app_check/example/android/app/build.gradle
  packages/firebase_app_check/firebase_app_check/example/android/app/src/main/AndroidManifest.xml
  packages/firebase_app_check/firebase_app_check/example/android/build.gradle
  packages/firebase_app_check/firebase_app_check/example/lib/main.dart
  packages/firebase_app_check/firebase_app_check/example/pubspec.yaml
  packages/firebase_app_check/firebase_app_check/lib/src/firebase_app_check.dart
  packages/firebase_app_check/firebase_app_check/test/firebase_app_check_test.dart
  packages/firebase_app_check/firebase_app_check_platform_interface/lib/src/method_channel/method_channel_firebase_app_check.dart
  packages/firebase_app_check/firebase_app_check_platform_interface/lib/src/platform_interface/platform_interface_firebase_app_check.dart
  packages/firebase_app_check/firebase_app_check_platform_interface/test/method_channel_tests/method_channel_firebase_app_check_test.dart
  packages/firebase_app_check/firebase_app_check_web/lib/firebase_app_check_web.dart
  tests/android/build.gradle
  tests/test_driver/firebase_app_check/firebase_app_check_e2e.dart
Labels: platform: android, plugin: app_check

#9445 docs(firebase_app_check): Add debug provider documentation.
  docs/app-check/debug-provider.md
Labels: type: documentation, plugin: app_check
